*{
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 35%;
    height: auto;
    margin: 20px;
}

.page-layout{
    display:flex;
    flex-direction: row;
}
#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

header, footer{
    background-color: cadetblue;
    padding: 25px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

main{
    background-color: salmon;
    height: 100vh;
    width: 70%;
}

nav {
    background-color: beige;
    width: 30%;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li{
    background-color: white;
    border: 3px solid black;
    border-radius: 0%;
    width: 80%;
    margin: 2% auto;
    padding: 1%;
}

nav a{
    text-decoration: none;
    color: brown;
    font-size: calc(2px + 2vw);
}

/*below this line is my mobile design*/
@media screen and (max-width: 1000px) {
    #container{
        flex-direction: column;
    }

    header,footer{
        text-align:center;
    }
    nav, main {
        width: 100%;
    }
    nav ul{
        flex-direction: row;
    }

}